# Network: "stellar:testnet" or "stellar:pubnet"
PUBLIC_STELLAR_NETWORK=stellar:testnet

# Server-side only
PAYTO_ADDRESS=GDNB6ZWJ4HV5EMJYPJNTHTEMUJVFOHZX6VJE34KZGWKF4UQDJ7UCEQIO
FACILITATOR_URL=https://x402.org/facilitator
# Optional custom RPC
# STELLAR_RPC_URL=https://soroban-testnet.stellar.org
